[Unit]
Description=Taskverse API
After=network.target

[Service]
WorkingDirectory=/opt/taskverse/api

ExecStart=/usr/bin/dotnet /opt/taskverse/api/Taskverse.Api.dll

Restart=always
RestartSec=10

KillSignal=SIGINT

SyslogIdentifier=taskverse-api

User=root

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=multi-user.target