<button
  type="button"
  [ngClass]="appearance === 'icon' ? 'delete-icon-button' : 'delete-action-button'"
  [disabled]="disabled || loading"
  [attr.aria-label]="ariaLabel"
  (click)="handleClick($event)">
  <mat-icon *ngIf="loading; else trashIcon">hourglass_top</mat-icon>
  <ng-template #trashIcon>
    <img [src]="trashIconPath" alt="" class="delete-button-icon" aria-hidden="true">
  </ng-template>
  <span *ngIf="appearance === 'button'">{{ loading ? 'Deleting...' : label }}</span>
</button>
